.boton{
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #060606;
    color: white;
    border: 0.5px solid #333;
    cursor: pointer;
    user-select: none;
}

.operador{
    background-color: #131313;
}

.resultado{
    background-color: #134369;
}

.memoria{
    border: none;
    background-color: #1f1f1f;
}

.boton:hover{
    background-color: #131313 !important;
}

.operador:hover{
    background-color: #1f1e1e !important;
}

.resultado:hover{
    background-color: #134269cb !important;
}
