.input{
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: lighter;
    font-size: 1vw;
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.548);
    padding: 11px 30px 11px 11px;
    margin: 1px solid #888;
    flex: 3;
    width: 100%;
    word-break:break-all;
    overflow: auto;
}