.result{
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 2vw;
    background-color: #1f1f1f;
    color: white;
    padding: 11px 30px 11px 11px;
    margin: 1px solid #888;
    flex: 1;
    width: 100%;
    word-break:break-all;
    overflow: auto;
}