.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background-color: #1f1f1f;
  font-family: "Share Tech Mono", "Segoe UI", Tahoma, Geneva, Verdana,;
  overflow: hidden;
}

.calculadora{
  width: 600px;
  height: 950px;
  background-color: #2b2b2b;
  box-shadow: 0 0 24px 10px rgb(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  position: absolute;
}

.fila{
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: rgb(24, 24, 24);
  color: #fff;
  font-weight: bold;
  border: 0.5px solid #333;
  font-size: 1.4rem;
  width: 100%;
}

.filaM{
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: rgb(24, 24, 24);
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  width: 100%;
}

.tittleP {
  left: 70px;
  top: 17px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #1f1f1f;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  position: absolute;
}

.icon-info{
  left: 20px;
  top: 20px;
  display: flex;
  
  background-color: none;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  position: absolute;
}

.icon-historial{
  right: -540px;
  top: 20px;
  display: flex;
  
  background-color: none;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  position: absolute;
}
